{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Relab Service Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin_custom/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin_custom/relab_logo.jpg' %}" alt="Relab Logo" class="admin-logo" onerror="this.style.display='none'"> 
        Relab Service
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
